// Grids
//////////////////////////////////////////////////////

// Примесь для построения простой резиновой сетки из заданного числа колонок с заданным в процентах резиновым отступом между ними
// @author Левон Гамбарян
//
// @param {Number} $columns - количество колонок
// @param {Percentage} $gutter - отступ в процентах
//
@mixin make-grid($columns, $gutter) {

    // Вычисляем ширину колонки
    $column-width: (100% - ($gutter * ($columns - 1))) / $columns;

    > div {
        width: $column-width;

        // Выставляем отступ всем колонкам кроме последней
        &:not(:last-child) {
            margin-right: $gutter;
        }

        // У последней колонки нет оступа
        &:last-child {
            margin-right: 0;
        }

        // Склеенные блоки
        @for $i from 2 to $columns {
            &.glued-#{$i} {
                width: $column-width * $i + $gutter * ($i - 1);
            }
        }
    }

    &.no-mobile {
        > div {
            // На мобильных - разворачиваем сетку в столбец
            @include xs {
                display: block;
                width: 100% !important;
            }

            &:not(:last-child) {
                // На мобильных выставляем нулевой отступ всем колонкам
                @include xs {
                    margin-right: 0 !important;
                }
            }

            // Склеенные блоки
            @for $i from 2 to $columns {
                &.glued-#{$i} {
                    @include xs {
                        display: block !important;
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

// Inline-blocks grid
.grid {
    > div {
        display: inline-block;
        vertical-align: top;
        min-height: 1px;
    }

    &.grid-for-two {
        @include make-grid (2, 1.4%);
    }

    &.grid-for-three {
        @include make-grid (3, 1.4%);
    }
}

// Flexbox mixins

@mixin flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

// Flex on not desctop
@mixin not-lg-flexbox {
  @include not-lg {
    @include flexbox;
  }
}

// Flexbox grid
.flexbox {
    @include flexbox;

    > * {
        flex: auto;
    }
}