{% extends "base.html" %}

{% block template %}
<div class="page css-guidline prism">
{% endblock %}

{% block content %}
<div class="container">
    <section id="section-top">
        <h1>Markup StyleGuide</h1>
        <h2>Руководство по cтилю для написания эффективного, поддерживаемого и маштабируемого кода препроцессора CSS.</h2>
        <p>Для создания стилевой разметки наших проектов мы, <span class="quote">идя в ногу со временем</span>, стремясь к максимально компактному и выразительному коду, используем динамические расширения CSS, препроцессоры Sass (<a href="http://sass-scss.ru/" target="_blank">sass-scss.ru</a>) и LESS (<a href="http://less-lang.info/" target="_blank">less-lang.info</a>). Все примеры в этом руководстве даны в SCSS-синтаксисе Sass.</p>
    </section>
    <section id="section-01">
        <h2>Именование</h2>
        <ul>
            <li>имена записываются в нижнем регистре, для разделения слов в именах используется дефис (-).</li>
        </ul>
        <p>Именнование должно быть:</p>
        <ul>
            <li>осмысленным;</li>
            <li>лаконичным.</li>
        </ul>
        <p>При именовании идентификаторов мы, как это ни странно, ориентируемся на два, по сути, противоположных подхода:</p>
        <ol>
            <li>более методичный формальный <strong><span class="quote">БЭМ-подход</span>, стиль Two Dashes</strong>:
                <div class="code"><pre><code class="language-scss">
    .block-name__elem-name--mod-name {}
                </code></pre></div>
                <ul>
                    <li>имя элемента отделяется от имени блока с помощью двух подчеркиваний (__);</li>
                    <li>модификаторы отделяются с помощью двух дефисов (--).</p></li>
                </ul>
            </li>
            <li>более гибкий абстрактный и комплексный творческий подход, при котором идентификатор некоего элемента, свойства, функционального качества, который указывает на содержание незначительно меняющееся в большинстве случаев, проще именовать <span class="quote">утилитарно</span>, обозначая <strong>одним простым классом [без привязки в конкретным шаблонам, блокам и элементам] по всему проекту</strong> (например — некая простая анимация, оверлей или <span class="quote">текст блока</span>):
                <div class="code"><pre><code class="language-scss">
    .block-name.active,
    .elem-name.on,
    .block-name .overlay,
    .block-name .text {}
                </code></pre></div>
            </li>
        </ol>
        <p>В тех случаях, когда мы стремимся к большей переиспользуемости и модифицируемости кода — используем второй подход; если хотим чтобы <span class="quote">это было железно</span> и полностью независимо — первый. Неоправданно раздутые стили, в которых множество идентификаторов описывают, содержат одно и то же, перегруженный классами HTML — не есть хорошо.</p>
        <p><strong>Если необходимо выразить уникальность и обеспечить независимость чего-либо, предпочтителен первый подход; если что-то заурядно, единобразно повсюду и может быть переиспользованно или возможно будет измененно — второй.</strong></p>
        <p>Для того чтобы стало более понятно <span class="quote">как это, использовать оба совсем разныx подхода?</span>, приведём простой наглядный пример. Предположим, нам необходимо разметить страницу содержащую два баннера-секции с несколькими простыми элементами внутри: заголовком, параграфом текста и кнопкой перехода. В таком случае нам требуются всего три БЭМ-идентификатора: самой страницы и этих двух секций, во всех остальных случаях, для остального контента мы можем обойтись семантикой голых тегов (h2, p) и простыми классами-утилитами (.btn):</p>
        <div class="code"><pre><code class="language-markup">
    &lt;body>

        &lt;main class="page page-xxxx" role="main">

            &lt;section class="banner page-xxxx__banner-01">
                &lt;h2>Заголовок 1&lt;/h2>
                &lt;p>Текст текст текст текст текст текст текст текст текст текст&lt;/p>
                &lt;a href="#" class="btn">Перейти&lt;/a>
            &lt;/section>

            &lt;section class="banner page-xxxx__banner-02">
                &lt;h2>Заголовок 2&lt;/h2>
                &lt;p>Текст текст текст текст текст текст текст текст текст текст&lt;/p>
                &lt;a href="#" class="btn">Перейти&lt;/a>
            &lt;/section>

        &lt;/main>

    &lt;/body>
        </code></pre></div>
        <p>Шаблон стилей на SCSS может иметь вид:</p>
        <div class="code"><pre><code class="language-scss">
    // Дефолтные ссылки
    a {
        ...
    }

    // Дефолтная типографика проекта

    h2 {
        ...
    }

    p {
        ...
    }

    // Кнопка - самый общий случай
    .btn {
        ...
    }

    // Баннер - самый общий случай
    .banner {
        ...
    }

    // Страница
    .page {
        ...
    }

    // Конкретный макет
    .page-xxxx {
        ...

        // Первый баннер макета
        &__banner-01 {
            ... // Типографика и кнопка для этого баннера
        }

        // Второй баннер макета
        &__banner-02 {
            ... // Типографика и кнопка для этого баннера
        }
    }
        </code></pre></div>
        <p>Теперь мы можем влиять на поведение простых компонент-утилит и тегов с помощью трёх индентификаторов которые надежно именнованы согласно БЭМ-методу.</p>
    </section>
    <section id="section-02">
        <h2>Синтаксис (SCSS)</h2>
        <h4>Основное:</h4>
        <ul>
            <li>отступ в четыре (4) пробела, строго никаких табов;</li>
            <li>cтроки и URL в двойных кавычках;</li>
            <li>вычисления всегда в круглых скобках;</li>
            <li>не опускать 0 в начале перед точкой для чисел меньше 1;</li>
            <li>комментарии для каждого важного селектора, примеси.</li>
        </ul>
        <h4>Селекторы, правила и примеси:</h4>
        <ul>
            <li>открывающая скобка ({) отделяется от последнего селектора одним пробелом;</li>
            <li>каждое объявление на собственной новой строке;</li>
            <li>пробел после двоеточия (:);</li>
            <li>завершающая точка с запятой (;) в конце всех объявлений;</li>
            <li>закрывающая скобка (}) на своей новой строке;</li>
            <li>новая строка после закрывающей скобки (});</li>
            <li>связанные селекторы на одной строке; не связанные селекторы на новой строке;</li>
        </ul>
        <div class="code"><pre><code class="language-scss">
    .class-01, .class-01__element,
    .class-02 {
        property-01: value-01;
        property-02: value-02;
        ...
    }
        </code></pre></div>
        <ul>
            <li>локальные переменные объявляются перед любыми объявлениями и отделяются от деклараций новой строкой;</li>
            <li>примешивания растворов и вызовы примесей без <strong>@content</strong> идут перед любым объявлением;</li>
            <li>сортировку правил мы осуществляем <span class="quote">не по алфавиту</span>, но нестрого ориентируясь на годную концепцию <a href="https://github.com/brandon-rhodes/Concentric-CSS" target="_blank">Concentric-CSS</a>;</li>
            <li>вложенные селекторы и директивы, содержащие собственные объявления, всегда идут после новой строки (но если родительский тег не содержит собственных правил [и мы хотим по каким-то причинам сохранить уровень вложенности], пустую строку перед дочерним селектором можно опустить) в последовательности:
                <ol>
                    <li>псевдоклассы;</li>
                    <li>псевдоэлементы;</li>
                    <li>вложенные селекторы с родительским оператором <strong>&</strong>;</li>
                    <li>вложенные дочерние селекторы;</li>
                    <li>примеси с <strong>@content</strong> и медиа-запросы (как мы увидим дальше, медиа-запросы в стандартном случае имеют вид такой примеси — мы вкладываем их в сам основной селектор, ипользуя модульный подход, что практически никак не скажется на производительности стилей на production после того как код будет скомпилирован (по сравнению с тем, если бы медиа-запросы были классически скомпонованы в одном месте)).</li>
                </ol>
            </li>
            <li>без пробела между именем примеси и первой круглой скобочкой списка аргументов, c пробелом после каждой запятой (перед следующим аргументом) в нём;</li>
            <li>без новых строк перед закрывающей фигурной скобкой (}).</li>
        </ul>
        <div class="code"><pre><code class="language-scss">
    .class {
        // Переменные
        $variable-01: variable-01-value;
        $variable-02: variable-02-value;
        $breakpoint-01: breakpoint-01-value;

        // Растворы, простые примеси, правила
        @extend %placeholder-01;
        @include mixin-01($variable-01);
        property-01: value-01;
        property-02: value-02;

        // Псевдоклассы
        &:hover {
            ...
        }

        // Псевдоэлементы
        &::after {
            ...
        }

        // Модификаторы
        &.class-modifier {
            ...
        }

        // Дочерние селекторы
        .class-child {
            ...
        }

        // Примеси с @content и медиа-запросы

        @include mixin-02($variable-01, $variable-02) {
            @content;
        }

        @media (max-width: $breakpoint-01) {
            ...
        }
    }
        </code></pre></div>
    </section>
    <section id="section-03">
        <h2>Комментирование</h2>
        <p>Мы должны стараться оставлять комментарии к каждой переменной (группе переменных), важному селектору/набору правил, примеси. Даже так: <strong>всё что не является очевидным [в идеале], должно быть прокомментировано</strong>. На самом деле, в реальной практике мы часто имеем дело с проектами, которые практически не содержать комментариев вовсе! (((</p>
        <uL>
            <li>для комментирования мы используем — ВНИМАНИЕ!!! — только однострочный тип комментария (так они не попадают в скомпилированный код), начинающийся с двух слешей (//);</li>
            <li>комментарий к селектору идёт на строчке непосредственно перед ним, комментарий к группе селекторов отбивается пустой строкой;</li>
            <li>комментарий к селектору, группе селекторов, разделу кода располагается на отдельной строке, комментарий к свойству - на той же строке что и комментируемое объявление через пробел после него;</li>
            <li>комментарий к разделу отбивается двумя пустыми строками сверху, строкой с большим количеством слешей (//////////////////////////////////////////////////////) и пустой строкой снизу.</li>
        </uL>
        <div class="code"><pre><code class="language-scss">
    // Иконка
    .icon {
        property: value; // комментарий к свойству
        ...
    }

    // Иконки

    .icon-01 {
        ...
    }

    .icon-02 {
        ...
    }


    // Grid and Sizes
    //////////////////////////////////////////////////////

    // Брекпоинт между очень большими экранами и остальными
    $desktop: 1217px;


    // Раствор для усечения и добавления многоточия в слишком длинную строку на одной строке
    // 1. Предотвращает сворачивание содержимого, оставляет его на одной строке.
    // 2. Добавляет многоточие на конце строки.
    %string-overflow-protection {
        white-space: nowrap; // 1
        text-overflow: ellipsis; // 2
        overflow: hidden;
    }


    // Примесь для выставления размера блоку
    // @author Левон Гамбарян
    //
    // @param {Length} $width - ширина элемента
    // @param {Length} $height - высота элемента
    //
    // @example usage:
    // .class {
    //     @include size(100%, 200px);
    // }
    //
    // @example output:
    // .class {
    //     width: 100%;
    //     height: 200px;
    // }
    @mixin size($width, $height) {
        width: $width;
        height: $height;
    }
        </code></pre></div>
    </section>
    <section id="section-04">
        <h2>Брекпоинты</h2>
        <p>Про точки перехода типоразмеров экрана нужно сказать, что обязательно <strong>все брекпоинты должны быть стандартизированы для всего проекта в виде глобальных переменных в одном единственном файле _variables.scss</strong> (как, впрочем, и все остальные <span class="quote">глобальные</span> качества <span class="quote">визуального гайдлайна</span>). Например, практически во всех макетах для Rothmans прослеживается одна и та же единая концепция:</p>
        <div class="code"><pre><code class="language-scss">
    // В файле _variables.scss:

    // Брекпоинт между очень большими экранами и остальными
    $desktop: 1217px;

    // Брекпоинт между гаджетами и остальными экранами
    $mobile: 800px;
        </code></pre></div>
        <p>Теперь мы можем создать удобные примеси для включения стилей для каждого типоразмера:</p>
        <div class="code"><pre><code class="language-scss">
    // В файле _mixins.scss:

    // Media

    @mixin desktop {
        @media (max-width: $desktop) {
            @content;
        } 
    }

    @mixin mobile {
        @media (max-width: $mobile) {
            @content;
        }
    }
        </code></pre></div>
        <p>Таким образом адаптивная разметка стилей для виджетов или любых значимых элементов, классов с адаптивным поведением в нашем проекте в самом простом общем случае может иметь вид:</p>
        <div class="code"><pre><code class="language-scss">
    .wrapper,
    .grid,
    .widget,
    .element,
    .utility {
        ... // Стили для очень больших экранов

        @include desktop {
            ... // Стили для не очень больших экранов и гаджетов
        }

        @include mobile {
            ... // Стили для гаджетов
        }
    }
        </code></pre></div>
    </section>
    <section id="section-05">
        <h2>Каскадирование</h2>
        <p>Невзирая на преобладающее сегодня в среде разработчиков предубеждение, мы очень активно, но при этом аккуратно, используем удобный базовый функционал препроцессора — каскадирование. Если необходимо, и наглядно, в плане выразительности кода препроцессора в development проекте, и технически, в плане содержания и надёжности скомпилированных стилей на production, <strong>обозначить зависимость чего-либо от чего-либо</strong> — мы вкладываем одно в другое.</p>
        <p>Мы можем воспринимать и интерфейс, и его проект, как совокупность определённым образом взаимосвязанных между собой (а не независимых друг от друга, как это представляется обычно, классически) компонент. Под компонентой мы очень широко можем понимать любую выделенную, абстрагированную конструктивную часть, идею, кусочек проекта, про который можно констатировать что это:</p>
        <ul>
            <li>описывает, обслуживает какую-то отдельную определённую функциональность;</li>
            <li>может быть использовано повторно или модифицировано;</li>
            <li>независимо, или же — отношения с другими компонентами чётко определены.</li>
        </ul>
        <p>Таким образом, <span class="quote">компонентами</span>, в общем смысле, для нас могут являться как и целая страница, шаблон проекта, так и всё, из чего он фактически состоит: крупные блоки, виджеты, отдельные элементы, плюс нечто совершенно специальное и отдельное — концепции компоновки, сетки, утилиты, сторонние модули...</p>
        <p>Короче, возвращаясь к стилям, вкладывать селекторы можно и нужно в следующих основных случаях:</p>
        <ol>
            <li>Естественные случаи: конструкции <span class="quote">которые нельзя ломать</span>, например, списки и сетки, семантичные <span class="quote">голые теги</span> [внутри родительских идентификаторов, без которых они бесполезны] (да и так <span class="quote">странно</span> мы тоже иногда поступаем, избегая бездумно плодить лишние классы, перегружая шаблоны HTML и <span class="quote">запутывая CSS</span> — см. пункт 3):
                <div class="code"><pre><code class="language-scss">
    #menu {
        ul {
            > li {
                > a {
                    ...
                }
            }
        }
    }

    .grid {
        > div {
            ...
        }
    }
                </code></pre></div>
            </li>
            <li>Псевдоклассы, псевдоэлементы, состояния-модификаторы, примеси/медиа-запросы для <span class="quote">другого представления</span> на разных типоразмерах - для каждого селектора. Используем пресловутый модульный подход — мы категорически стараемся держать всю информацию о каждом компоненте, виджете, элементе — в одном месте, это очень удобно и наглядно.
                <div class="code"><pre><code class="language-scss">
    .class {

        &:hover,
        &::before,
        &.active,
        .parent-selector & {
            ...
        }

        @include mobile {
            ...
        }
    }
                </code></pre></div>
            </li>
            <li>Мы вкладываем <span class="quote">всё остальное</span> в основные обёртки, <span class="quote">классы-абстракции</span>, позволяющие выделять и защищать стили в <span class="quote">крупных частях проекта</span>: это различные страницы-шаблоны, темы, версии. Такой подход позволяет нам добиваться большей компактности и переиспользуемости кода, по необходимости легко влиять на поведение нужных более мелких компонентов: конструкций сетки, виджетов, утилит в любом месте проекта.
                <div class="code"><pre><code class="language-scss">
    .template,
    .theme,
    .version,
    .wrapper {

        .wrapper,
        .grid,
        .widget,
        .element,
        .utility {
            ...
        }
    }
                </code></pre></div>
            </li>
        </ol>
        <p>Каскадирование используется, уровень вложенности добавляется только в том случае, если он действительно нужен и <strong>обозначает отношение, которое необходимо отразить.</strong></p>
        <p>Теперь, чтобы всё стало окончательно прозрачно и понятно, приведём простой наглядный пример. Предположим, что в макетах шаблона, который мы уже рассматривали выше, различным образом для каждого блока-баннера меняется типографика в зависимости от типоразмера экрана (да, кнопки для которых меняется типографика и соответсвенно их размер, часто встречаются в макетах для Rothmans!).</p>
        <div class="code"><pre><code class="language-markup">
    &lt;body>

        &lt;main class="page page-xxxx" role="main">

            &lt;section class="banner page-xxxx__banner-01">
                &lt;h2>Заголовок 1&lt;/h2>
                &lt;p>Текст текст текст текст текст текст текст текст текст текст&lt;/p>
                &lt;a href="#" class="btn">Перейти&lt;/a>
            &lt;/section>

            &lt;section class="banner page-xxxx__banner-02">
                &lt;h2>Заголовок 2&lt;/h2>
                &lt;p>Текст текст текст текст текст текст текст текст текст текст&lt;/p>
                &lt;a href="#" class="btn">Перейти&lt;/a>
            &lt;/section>

        &lt;/main>

    &lt;/body>
        </code></pre></div>
        <p>Как лучше всего организовать разметку стилей и медиа-запросы в ней? Наверное никто не захочет делать это вот так — совершенно безобразно — очень много кода и медиа-запросов в нём:</p>
        <div class="code"><pre><code class="language-scss">
    .page-xxxx {

        &__banner-01 {
            h2 {
                ... // Типографика заголовка этого баннера для очень больших экранов

                @include desktop {
                    ... // Типографика заголовка этого банера для не очень больших экранах и гаджетов
                }

                @include mobile {
                    ... // Типографика заголовка этого банера для гаджетов
                }
            }

            p {
                ...
            }

            .btn {
                ...
            }
        }


        &__banner-02 {
            ...
        }
    }
        </code></pre></div>
        <p>Вот так тоже будет не очень удобно, хотя этот вариант реализует более классический подход с минимумом медиа-запросов в коде:</p>
        <div class="code"><pre><code class="language-scss">
    .page-xxxx {

        &__banner-01 {
            ... // Типографика этого баннера для очень больших экранов
        }


        &__banner-02 {
            ... // Типографика этого баннера для очень больших экранов
        }

        @include desktop {

            &__banner-01 {
                ... // Типографика этого банера для не очень больших экранов и гаджетов
            }


            &__banner-02 {
                ... // Типографика этого банера для не очень больших экранов и гаджетов
            }
        }

        @include mobile {

            &__banner-01 {
                ... // Типографика этого банера для гаджетов
            }


            &__banner-02 {
                ... // Типографика этого банера для гаджетов
            }
        }
    }
        </code></pre></div>
        <p>Для данного простого примера нужно организовать включение стилей для других типоразмеров вот так — каждый селектор баннера содержит всю информацию о нём в максимально понятной и удобной форме:</p>
        <div class="code"><pre><code class="language-scss">
    .page-xxxx {

        &__banner-01 {
            ... // Типографика этого баннера для очень больших экранов

            @include desktop {
                ... // Типографика этого баннера для не очень больших экранов и гаджетов
            }

            @include mobile {
                ... // Типографика этого банера для гаджетов
            }
        }


        &__banner-02 {
            ... // Типографика этого баннера для очень больших экранов

            @include desktop {
                ... // Типографика этого баннера для не очень больших экранов и гаджетов
            }

            @include mobile {
                ... // Типографика этого банера для гаджетов
            }
        }
    }
        </code></pre></div>
    </section>
    <section id="section-06">
        <h2>Архитектура</h2>
        <p>Самое важное для нас — это хорошая единая архитектура проектов, о которой мы должны договориться и неукоснительно ей следовать в дальнейшем.</p>
        <p>Предлагается принять такую концепцию:</p>
        <h4>SCSS/</h4>
        <ul class="large">
            <li>utils/
                <ul>
                    <li>_variables.scss</li>
                    <li>_mixins.scss</li>
                    <li>_functions.scss</li>
                    <li>_placeholders.scss</li>
                </ul>
            </li>
            <li>core/
                <ul>
                    <li>_normalize.scss</li>
                    <li>_base.scss</li>
                    <li>_typography.scss</li>
                    <li>_grid.scss</li>
                    <li>_utilities.scss</li>
                    <li>_widgets.scss</li>
                </ul>
            </li>
            <li>components/
                <ul>
                    <li>_slider.scss</li>
                    <li>_carousel.scss</li>
                    <li>...</li>
                </ul>
            </li>
            <li>layout/
                <ul>
                    <li>_header.scss</li>
                    <li>_menu.scss</li>
                    <li>_footer.scss</li>
                    <li>...</li>
                </ul>
            </li>
            <li>pages/
                <ul>
                    <li>_page-01.scss</li>
                    <li>_page-02.scss</li>
                    <li>...</li>
                </ul>
            </li>
            <li>main.scss</li>
        </ul>
        <p>Что важно понимать об этом?</p>
        <p>ВНИМАНИЕ!!! У нас <strong>есть только один главный файл стилей, который содержит все директивы @import на все остальные стилевые компоненты проекта</strong>. Только один, Карл! И больше нигде, ни в одном другом файле данная директива не присутствует! Для проектов с Sass это единственный файл без нижнего подчёркивания в начале имени и в корне папки со стилями <strong>main.scss</strong>, для проектов на LESS это файл <strong>styles.less</strong>.</p>
        <div class="code"><pre><code class="language-scss">
    // Файл main.scss:

    // Utils
    @import "utils/variables"; // все глобальные переменные + переменные для сторонних модулей
    @import "utils/mixins"; // все примеси
    @import "utils/functions"; // все функции
    @import "utils/placeholders"; // все помошники

    // Core
    @import "core/normalize"; // сброс дефолтныых стилей
    @import "core/base"; // основные элементы HTML
    @import "core/typography"; // типографика
    @import "core/grid"; // сетка
    @import "core/utilities"; // простые классы-помощники — утилиты
    @import "core/widgets"; // более сложные составные виджеты-компоненты

    // Components // стили для сторонних модулей!!!
    @import "components/slider";
    @import "components/carousel";

    // Layout // компоненты основного шаблона — крупные конструктивные части общие для всех страниц!
    @import "layout/header";
    @import "layout/menu";
    @import "layout/footer";

    // Pages // стили особые для отдельных страниц
    @import "pages/page-01";
    @import "pages/page-02";
        </code></pre></div>
        <p>А в реальности всё ещё немного сложнее! Мы должны хотя бы надеятся на то, что когда-нибудь абсолютно все сторонние модули и зависимости, используемые нашими проектами, будут — ВНИМАНИЕ!!! — подключаться в проекты <strong>не позорно</strong>, коряво <span class="quote">ручками</span><strong>, а</strong> современно, <strong>успешно</strong> — через пакетный менеджер, например <a href="https://bower.io/"><strong>bower</strong></a>. И давайте я не буду здесь объяснять <span class="quote">зачем</span>? ((((</p>
        <p>Поэтому на самом деле наша сборка стилей будет ещё содержать импорты таких компонент, например так удобно подключать готовый reset:</p>
        <div class="code"><pre><code class="language-scss">
    // Vendors
    @import "../bower_components/normalize.scss/sass/normalize/import-now"; // готовый reset
    @import "../bower_components/slider/slider.scss"; // некий слайдер
    @import "../bower_components/carousel/carousel.scss"; // некая карусель

    // Utils
    @import "utils/variables"; // все глобальные переменные + переменные для сторонних модулей
    @import "utils/mixins"; // все примеси
    @import "utils/functions"; // все функции
    @import "utils/placeholders"; // все помощники

    // Core
    @import "core/base"; // основные элементы HTML
    @import "core/typography"; // типографика
    @import "core/grid"; // сетка
    @import "core/utilities"; // простые классы-помощники — утилиты
    @import "core/widgets"; // более сложные составные виджеты-компоненты

    // Components // папка для — внимание — кастомизации — сторонних модулей!!!
    @import "components/slider"; // кастомизация некого слайдера
    @import "components/carousel"; // кастомизация некой карусели

    // Layout // компоненты основного шаблона — крупные конструктивные части общие для всех страниц!
    @import "layout/header";
    @import "layout/menu";
    @import "layout/footer";

    // Pages // стили особые для отдельных страниц
    @import "pages/page-01";
    @import "pages/page-02";
        </code></pre></div>
        <p>Далее — ВНИМАНИЕ!!! У нас есть папка <strong>utils/</strong>, в которой находятся все глобальные переменные представляющие, абстрагирующие на уровень препроцессора <span class="quote">визуальный гайдлайн проекта</span>, а также все переменные, которые используют сторонние модули, а также все инструменты и помощники препроцессора в проекте. Каждая <strong>глобальная переменная, функция и примесь должна быть помещена сюда</strong>!</p>
        <p><br />Если мы будем следовать этим принципам, код наших проектов будет всегда в порядке, его будет приятно и легко читать и развивать.</p>
    </section>
    <section id="section-07">
        <div class="pull-right">
            <h3>Левон Гамбарян для Castor Digital</h3>
            <h4>05.12.16 — 09.12.16</h4>
        </div>
    </section>
</div>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}